@{
    ViewData["Title"] = "Home Page";
}

<img src="/imagens/BannerPrincipal.jpg">

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title> Space Hair Studio</title>
</head>

<body>
    <div style="font-family:Segoe Print;color:#A0522D;">
        <div style="background-color:#363636;padding: 15px;text-align:center;">
            <h1>Space Hair Studio</h1>
        </div><br><br>

        <div class="row">
            <div class="col-sm-8 col-md-8">
                <img src="/imagens/Banner1.jpg">
            </div>
            <div class="col-sm-4 col-md-4">
                <div style="font-size:18;text-center;">
                    <p><strong>“Entregamos Felicidade através<br><br>do melhor serviço de beleza,<br><br>para Todas as
                            Pessoas, de todas<br><br>as Idades e de todos os Lugares!<br><br>A Beleza Completa em um
                            único<br><br>lugar. Cuidados e Bem-Estar<br><br>para o Corpo e para a Mente!"</strong></p>
                </div>
            </div>
        </div>
    </div><br><br>

    <div style="font-family:Segoe Print;color:#A0522D;">
        <div style="background-color: #ffd9cc;font-family:Arial;color: #01000c;padding:15px;text-align:center;">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <h2><strong>Serviços</strong></h2><br>
                    <h3>
                        <align center>Beleza para todos</align>
                    </h3><br>
                    <ul>
                        <li> Encantamento e padrão de excelência</li><br>
                        <li> Ambiente contemporâneo e relaxante</li><br>
                        <li> Vista privilegiada do skyline paulistano </li><br>
                        <li> Profissionais altamente qualificados</li><br>
                        <li> Atendimento em horários especiais </li><br>
                    </ul>
                </div>

                <div class="col-sm-8 col-md-8">
                    <img src="/imagens/Banner2.jpg">
                </div>
            </div>
        </div>
    </div><br><br>
    <div style="font-family:Segoe Print;color:##01000c;">
        <div style="background-color:#ffa500;padding: 15px;text-align:center;">
            <p><strong>Temos tudo o que você precisa, seja para um evento especial ou para o dia-a-dia.</strong></p>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
        </div>



        <script>
            $('input#txt_consulta').quicksearch('table#tabela tbody tr');
        </script>



    </div><br><br>


    <div style="background-color: #c3c6cd;padding: 15px; text-align: center">


        <iframe width="560" height="315" src="https://www.youtube.com/embed/DixJDVT17Ks" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>


    </div>


    <div>
        <img src="/imagens/Banner3.jpg">
        <div style="background-color: #A0522D;">
            <input type="submit" value="Denuncie" onclick="msg()">
        </div>

    </div><br>


</body>


</html>
