@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><text-center> Políticas de Privacidade</text-center></title>
</head>

<body>
    <div style="text-justify: auto; font-family: Calibri; color: black">
        <div style="background-color: #ffedd3;padding: 15px;">

            <h3>Quem Somos</h3>
                <P>A empresa Space Hair Ltda. (doravante denominada simplesmente “Space Hair”) é responsável pelos dados pessoais que você compartilha conosco. A Space Hair é o “controlador de dados” para os fins da legislação de proteção de dados aplicável. Space Hair Comercial de Cosméticos Ltda. Rua da Consolação, 3679 Cerqueira Cesar – São Paulo – SP; Cep 01416-001; (Space Hair/Brasil/ https://www.spacehair.com.br/).</P>

            <h4>O que são dados pessoais?</h4>
                <p>"Dados pessoais" significa qualquer informação que possa identificá-lo diretamente (p. ex., seu nome) ou indiretamente (p. ex., por meio de dados pseudonimizados, tal como um número de identificação exclusivo). Isso significa que os dados pessoais incluem informações como endereços de e-mail/residenciais/telefone celular, nomes de usuário, fotos de perfil, preferências pessoais e hábitos de compra, conteúdo gerado pelo usuário, informações financeiras e informações de bem-estar. Podem também incluir identificadores numéricos exclusivos, como o endereço Internet Protocol (IP) do seu computador ou o endereço Media Access Control (MAC) do seu dispositivo móvel, além de cookies</p>

            <h4>Como coletamos ou recebemos seus dados?</h4>
                <p>Podemos coletar ou receber dados de você por meio de nossos sites, formulários, apps, dispositivos, páginas das marcas nas mídias sociais, cadastros realizados em nossas unidades, entre outros. Às vezes, você nos fornece esses dados diretamente (p. ex., quando você cria uma conta, quando entra em contato conosco, quando compra em nossos sites/apps ou lojas/salão de beleza), às vezes nós os coletamos (p. ex., usando cookies para entender como você utiliza nossos sites/apps. Quando coletamos dados, indicamos os campos obrigatórios por meio de asteriscos, quando esses dados são necessários para:</p>

            <ul>
                <li>Executarmos nosso contrato com você (p. ex., para entregar os produtos que você comprou em nossos sites/aplicativos);</li>
                <li>Fornecermos a você o serviço solicitado (p. ex., para avisar sobre produtos); ou</li>
                <li>Cumprirmos com obrigações legais e regulatórias (p. ex., emissão de faturas, cosmetovigilância).
                </li>
            </ul>

            <p>Caso você não forneça os dados marcados com um asterisco, isso pode afetar nossa capacidade de fornecer os produtos e serviços.</p>

            <h4>Qual é a base legal para utilização de seus dados pessoais?</h4>
                <p>Dependendo da finalidade para a qual os dados são utilizados, a base legal para o tratamento dos seus dados pode ser:</p>
            <ul>
                <li><strong>Seu consentimento</strong>;</li>
                <li>Nosso legítimo interesse, que pode ser:</li>
                <ul>
                    <li><strong>Melhoria de nossos produtos e serviços</strong>: mais especificamente, nossos interesses comerciais para nos ajudar a entender melhor suas necessidades e expectativas e, portanto, melhorar os nossos serviços, sites/apps/dispositivos, produtos e marcas para o benefício de nossos consumidores.</li>
                    <li>Prevenção de fraudes:para garantir que o pagamento seja concluído sem fraude e apropriação indébita.</li>
                    <li>Proteção de nossas ferramentas:para manter as ferramentas utilizadas por você (nossos sites/apps/dispositivos) protegidas e seguras e garantir que elas estejam funcionando corretamente e sendo continuamente aprimoradas.</li>
                </ul>

                <li>A execução de um contrato: mais especificamente para fornecer os serviços que você nos solicita;
                </li>
                <li>O fundamento jurídico,quando o tratamento é exigido por lei.</li> 
            </ul>

            <h4>Quem pode acessar seus dados pessoais?</h4>
                <p>Contamos com fornecedores terceirizados de confiança para realizar uma série de atividades comerciais em nosso nome. Nós fornecemos apenas as informações necessárias para a execução do serviço em questão e exigimos que eles se comprometam ao mesmo nível de proteção e privacidade dos seus dados que a Space Hair teria se os tivesse tratando diretamente, isso inclui a obrigação de não usarem seus dados pessoais para qualquer outra finalidade que não a finalidade contratada pela Space Hair, além de obrigações de confidencialidade e padrões de segurança, entre outros. Sempre envidamos nossos melhores esforços para garantir que todos os terceiros com quem trabalhamos mantenham seus dados pessoais seguros. Por exemplo, podemos confiar serviços que exigem o tratamento de seus dados pessoais a:</p>
            <ul>
                <li>Terceiros que nos auxiliam e nos ajudam no fornecimento de serviços digitais e de comércio eletrônico, tais como monitoramento de redes sociais (social listening), localizador de lojas, programas de fidelidade, gerenciamento de identidades, classificações e avaliações, CRM, análise de dados da internet e mecanismo de pesquisa, ferramentas de curadoria de conteúdo gerado pelo usuário;</li>
                <li>Agências de publicidade, mídia digital e social para nos ajudar a fornecer publicidade, marketing e campanhas, analisar sua eficácia e gerenciar seus contatos e perguntas;</li>
                <li>Terceiros necessários para entregar-lhe um produto, p. ex., serviços postais/de entrega;</li>
                <li>Terceiros que nos auxiliam e ajudam no fornecimento de serviços de TI, tais como fornecedores de plataforma, serviços de hospedagem, manutenção e suporte a nossos bancos de dados, bem como a nossos softwares e aplicativos que podem conter dados sobre você (esses serviços podem por vezes implicar acesso aos seus dados para a realização das tarefas necessárias);</li>
                <li>Provedores de serviços de pagamento e agências de referência de crédito com o objetivo de avaliar seu risco de crédito e de verificar suas informações quando esta for uma condição para firmar um contrato com você;</li>
                <li>Terceiros que nos auxiliam para fins de atendimento ao cliente e de cosmetovigilância.</li>                 
            </ul>

            <h4>Alterações na Política de Privacidade</h4>
                <p>Esta Política de Privacidade pode ser revista periodicamente. Se fizermos alterações significativas na Política de Privacidade, você será informado sobre elas antes que as alterações entrem em vigor, nos termos da lei aplicável. Se qualquer alteração exigir seu consentimento, faremos uma solicitação para que você forneça esse novo consentimento. Nós encorajamos você a rever esta Política de Privacidade frequentemente, para se manter informado sobre nossas práticas de tratamento de dados.</p>

            <h4>Contato</h4>
                <p>Se você tiver alguma dúvida ou preocupação sobre como tratamos e usamos seus dados pessoais, ou gostaria de exercer qualquer dos seus direitos acima, entre em contato conosco pelo telefone <strong>0800 701 5500</strong>.<br>Você também pode entrar em contato com nosso Encarregado de Proteção de Dados em <strong>brasil.dpo@spacehair.com</strong><br>Para saber mais sobre como lidamos com seus dados pessoais e sua privacidade, envie um e-mail para <strong>dpobr@webedia-group.com</strong></p>


        </div>


    </div>



</body>

</html>
